/* color palette */
$primary-dark: #06888A;
$primary-light:  #FFEED5;
$primary-mid: #DC664A;
$secondary-dark: #5A3928;
$secondary-light: #FDC149;
  
$gradient: linear-gradient(to right, #45c3c3, #3290a4);
