$gradient: linear-gradient(to right, #00467f, #a5cc82);
body{
  background-image: $gradient;
}

.hello {
  color: #85b518;
  font-family: 'Herculanum', serif;
  /*background-image: url("./icon.png");*/
}